{% extends "::base.html.twig" %}

{% block title %}WSFBlackJackBundle:Community:ShowPlayerProfile{% endblock %}

{% block body %}
<h1>Welcome to the Community:ShowPlayerProfile page</h1>
<h2>Player name : </h2>
{% endblock %}
