{% extends "::base.html.twig" %}

{% block title %}BlackJack{% endblock %}

{% block body %}
<h1>Welcome to the bet page</h1>
<h2>Your wallet : {{ playerWallet }}</h2>
{{ form(form) }}
{% endblock %}
